<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/circle" href="javascript:void(0);"><i
        class="material-icons"> circle </i>Circle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/line"><i class="material-icons"> power_input </i>Line</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/triangle"><i class="material-icons"> change_history </i>Triangle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/rectangle"><i class="material-icons">rectangle </i>Rectangle</a>
  </li>
</ul>